<h1>
    <%= @movies.title %>
      <section class="movie">
    

</h1>

<section class"movie-details">
    <div class="details">

        <h2>
            <%= @movies.title %>
        </h2>
        <h3>
            <%= year_of(@movies) %> Rated <%= @movies.rating %>
        </h3>
        <p>
            <%= @movies.description %>
        </p>
    </div>
</section>

<section class="admin">
    <%= link_to  "Edit", edit_movie_path(@movies), class: "button" %>
    <%= link_to  "Delete", movie_path(@movies), class: "button", method: :delete, data: {confirm: 'Are you sure?'} %>
</section>


